.main-content {
    width: 100%;
    padding: 10px;
    min-height: 80vh;
    color: aliceblue;
}
.carousel-wrap{
    margin: 30px 0;
}
#header-wrap{
 text-align: center;
    margin-top: 70px;
    margin-bottom: 15px;
}
#header-wrap>h1{
    font-size: 5vw;

}

#header-wrap>p{
    font-size: 2vw;

}
